* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  
}
.v1_65 {
  width: 100%;
  height: 1222px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_66 {
  width: 100%;
  height: 34px;
  background: #F8EDE3;
  opacity: 1;
  position: absolute;
  top: 1188px;
  left: 0px;
  overflow: hidden;
}
.v1_67 {
  width: 322px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1193px;
  left: 559px;
  font-family: Lobster;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_68 {
  width: 268px;
  height: 400px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 761px;
  overflow: hidden;
}
.v2_68 {
  width: 232px;
  height: 345px;
  background: url("Action2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 780px;
  overflow: hidden;
}
.v1_69 {
  width: 267px;
  height: 400px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 1115px;
  overflow: hidden;
}
.v2_69 {
  width: 232px;
  height: 345px;
  background: url("Action3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 1133px;
  overflow: hidden;
}
.v1_70 {
  width: 268px;
  height: 400px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 733px;
  left: 763px;
  overflow: hidden;
}
.v2_70 {
  width: 232px;
  height: 345px;
  background: url("action\ \(2\).jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 760px;
  left: 780px;
  overflow: hidden;
}
.v1_71 {
  width: 267px;
  height: 400px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 730px;
  left: 1115px;
  overflow: hidden;
}
.v2_71 {
  width: 232px;
  height: 345px;
  background: url("action\ \(3\).jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 760px;
  left: 1133px;
  overflow: hidden;
}
.v1_72 {
  width: 268px;
  height: 400px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 733px;
  left: 35px;
  overflow: hidden;
}
.v2_72 {
  width: 232px;
  height: 345px;
  background: url("ac2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 760px;
  left: 52px;
  overflow: hidden;
}
.v1_73 {
  width: 267px;
  height: 400px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 387px;
  overflow: hidden;
}
.v2_73 {
  width: 232px;
  height: 346px;
  background: url("Action1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 283px;
  left: 407px;
  overflow: hidden;
}
.v1_74 {
  width: 267px;
  height: 400px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 733px;
  left: 389px;
  overflow: hidden;
}
.v2_74 {
  width: 232px;
  height: 345px;
  background: url("action.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 760px;
  left: 407px;
  overflow: hidden;
}
.v1_75 {
  width: 268px;
  height: 400px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 35px;
  overflow: hidden;
}
.v1_76 {
  width: 233px;
  height: 345px;
  background: url("v1_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 52px;
  overflow: hidden;
}
.v1_77 {
  width: 100%;
  height: 51px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 0px;
  overflow: hidden;
}
.v1_78 {
  width: 100%;
  height: 155px;
  background: #D0B8A8;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_79 {
  width: 86px;
  height: 76px;
  background: url("v1_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 39px;
  overflow: hidden;
}
.v1_80 {
  width: 522px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 150px;
  font-family: Inter;
  font-weight: Black;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.kontol1 {
  text-decoration: none;
  color: black;
}
.v1_81 {
  width: 70px;
  height: 70px;
  background: url("v1_181.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 1250px;
  overflow: hidden;
}
.v1_82 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 93px;
  font-family: Inter;
  font-weight: Black;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_83 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 582px;
  font-family: Inter;
  font-weight: Black;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v1_84 {
  width: 81px;
  color: rgba(234,255,0,1);
  position: absolute;
  top: 169px;
  left: 703px;
  font-family: Inter;
  font-weight: Black;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_85 {
  width: 83px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 838px;
  font-family: Inter;
  font-weight: Black;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_86 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 971px;
  font-family: Inter;
  font-weight: Black;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.horor {
  color: white;
  text-decoration: none;
}
.v1_87 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 1108px;
  font-family: Inter;
  font-weight: Black;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_88 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 973px;
  font-family: Inter;
  font-weight: Black;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_89 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 971px;
  font-family: Inter;
  font-weight: Black;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
span :hover {
  color: rgba(234,255,0,1);
}